.l{
  padding-top: 5%;
}
.logincontainer{
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 10px;
    
}
.input{
    border: 0px;
    outline: 0px;
    width: 250px;
    height: 30px; 
    padding: 5px;
    background-color:rgba(240, 248, 255, 0.24);;
    border-bottom: 2px solid black; 
  }
.btn2{
    border: 0px;
    outline: 0px;
    background-color: rgba(0, 0, 0, 0.342);
    width:60px;
    height:30px;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 3px 3px 3px gray;
  }
  
.btn2:active{
    background-color: white;
    color: black;
  }  
  